body {
  background: purple;
  padding: 20px;
}

.item {
  background: gold;
  border: 2px solid goldenrod;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 200px 400px;
  grid-template-rows: 50px 100px;
  grid-auto-rows: 300px;
}
