body {
  background: purple;
  padding: 20px;
}

.track{
  background: wheat;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}
