body {
  background: purple;
  padding: 20px;
}

.item {
  background: gold;
  border: 2px solid goldenrod;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: grid;
  height: 600px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 100px;
}
